body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@font-face {
    font-family: 'MonaSans-Regular';
    src: local('MonaSans-Regular'), url('./assets/fonts/MonaSans-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'MonaSans-SemiBold';
    src: local('MonaSans-SemiBold'), url('./assets/fonts/MonaSans-SemiBold.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'MonaSans-Medium';
    src: local('MonaSans-Medium'), url('./assets/fonts/MonaSans-Medium.ttf') format('truetype');
    font-weight: normal;
}
